<h1>Show question</h1>

<strong> Question: </strong>
  <p>
    <%= @question.title %>
  </p>
  <p>
    <%= @question.created_at %>
<br/><br/>
    <p> current question title is: <%= question_header(@question) %>
      <p> current test title is: <%= question_header(@question) %>

<p>
  <%= link_to 'Back', tests_path %>
