<%= form_with model: [:admin, @badge], local: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :badgeurl %><br>
    <%= form.text_field :badgeurl %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p><%= form.submit %></p>
<% end %>
