<h1 align="center"><b>Badges</b></h1>

<table class="table table-striped table-dark" border = "1">
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.badgeurl') %></th>
    <th><%= t('.description') %></th>
  </tr>
<%= render @badges %>
</table>
