<h1> <%= t('.header', title: @test_passage.test.title) %>  </h1>
<% count = @test_passage.test.questions.count %>
<% correct = @test_passage.correct_questions %>
<% rate = correct*100/count %>
<%
   duration = @test_passage.test.test_duration
%>

<% if @test_passage.success?(rate) && (@test_passage.in_time?(duration))
     color = 'green'
     message = 'passed in time!'
  elsif @test_passage.success?(rate) && (!@test_passage.in_time?(duration))
    color = 'blue'
    message = 'passed but very slowly!'
  else
    message = 'failed...'
    color = 'red'
  end
%>

<%= link_to "All tests", tests_path %>

<h1>Pass the <%= @test_passage.test.title %> Test </h1><br/>
<h3>Count of questions in test: <%= count %></h3>
<h3>Count of correct answers in result: <%= correct %></h3>
<h3><font color="<%= color %>">Success rate: <%= rate %>%. Test <%= message %></font>

<br/><br/>
