<%# Дальше будем выводить название этого теста
который мы проходим. Чтобы получить название теста у нас есть обьект модели @test_passage,
по ассоциации забираем обьект теста %>
<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<p><%= t('.questions_count', questions_count: @test_passage.test.questions.count) %></p>
<p><%= t('.questions_id', questions_id: @test_passage.current_question.id) %></p>

<p>
  <b><%= @test_passage.current_question.title %></b>
</p>

<%# Здесь вместо модели передем конкретный URL, на который должны отправить данную
форму, отправляться будет по URL test_passage_path, и нам надо отправить не post (по умолчанию),
 a put, так с помощью формы мы хотим изменить наш текущий обьект test_passage.
это для того чтобы увеличить атрибут correct_questions если пользователь дал правильный ответ.
Это просто данные, не связанные с моделью (скрин 15-40 )  %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist question', gist_test_passage_path(@test_passage), method: :post %></p>

  <p><%= form.submit 'Next' %></p>
<% end %>
