<nav class="navbar navbar-light" style="background-color: #8b8b8b;">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <a class="navbar-brand" href="#">
    <%= image_tag "console-one.png" %>
    <%= image_tag "github-one.png" %>
    <%= image_tag "ruby-one.png" %>

  </a>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> Guru |
      <% if current_user.admin? %>
        <button type="submit" class="btn"><%= link_to 'Admin panel', admin_tests_path %></button>
      <% end %>

      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>

    <% else %>
      <%= link_to "Log in", new_session_path(resource_name) %>
      <%= link_to "Sign Up", new_registration_path(resource_name) %>
    <% end %>

  </span>
</nav>
