<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>
<p>
  <b>Questions for this test: </b>
</p>
<%= @questions.each do |q| %>
  <p>
    <%= q.id %>
    <%= q.title %>
  </p>
<%= link_to 'New question', new_test_question_path(@test) %>
<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_test_path %> 
<% end %>
