<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>


<p>
  <b>Questions for this test: </b>
</p>

<%= @questions.each do |q| %>
  <p>
    <table class="table table-striped table-dark" align = "left" border = "1">
      <tr>
        <td><%= q.id  %></td>
        <td><%= q.title %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(@test) %></td>
      </tr>
    </table>
  </p>
<% end %>
<%= link_to 'New question', new_admin_test_question_path(@test) %>
<%= link_to 'Back', admin_test_path %>
