<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= button_to "Start test", start_test_path(test) %></td>
  <td> <%= test.questions.count %></td>


</tr>
