<h1>Tricky tests</h1>

<table border = "1">
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>Level</th>
  </tr>

<%= render @tests %>
<%= render partial: 'questions/question', collection: @questions %>

</table>



<!--
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.level %></td>
    </tr>
  <% end %>





  <% if @tests.present? %>
  <h2>Tests in progress</h2>

  <% @tests.each do |test| %>
    <p><%= test.title %></p>
  <% end %>
<% else %>
  <p>You have no tests in progress.</p>
<% end %> -->
